<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <title>Gibsoncheruonlinetaxsolutions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    
    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="#" class="h2 mb-0">GibsonOnlineTaxSolutions<span class="text-primary">.</span> </a></h1>
          </div>

          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="#home-section" class="nav-link">Home</a></li>
                <li class="has-children">
                  <a href="#about-section" class="nav-link">About Us</a>
                  <ul class="dropdown">
                    <li><a href="#services-section" class="nav-link">Services</a></li>
                  </ul>
                </li>
                <li><a href="#contact-section" class="nav-link">Contact</a></li>
                <li class="social"><a href="#contact-section" class="nav-link"><span class="icon-facebook"></span></a></li>
                <li class="social"><a href="#contact-section" class="nav-link"><span class="icon-twitter"></span></a></li>
                <li class="social"><a href="#contact-section" class="nav-link"><span class="icon-linkedin"></span></a></li>
              </ul>
            </nav>
          </div>


          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>
  
     
    <div class="site-blocks-cover overlay" style="background-image: url({% static 'images/tax2.jpg' %});" data-aos="fade" id="home-section">

      <div class="container">

        {% if messages %}
        {% for message in messages %}
        <!-- Then put toasts within -->
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000"
          style="position: absolute; top: 150px; right: 10px;">
          <div class="toast-header">
            <!-- <img src="..." class="rounded mr-2" alt="..."> -->
            <strong class="mr-auto">OnlineTaxSolutions</strong>
            <button type="button" class="ml-2 mb-1 close" data-autohide="false" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body">
            {{ message }}
          </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="row align-items-center justify-content-center">

          
          <div class="col-md-10 mt-lg-5 text-center">
            <div class="single-text owl-carousel">
              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">Taxation Services</h1>
                <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="200">Ranging from Pin registration, tax processing all the way to client tax advisory services, we have you covered</p>
                <div data-aos="fade-up" data-aos-delay="200">
                </div>
              </div>

              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">Book-keeping Services</h1>
                <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="200">We offer all accounting services from part time, online, payroll processing and many more.</p>
              </div>

              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">KRA File Returns</h1>
                <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="200">We help your overcome all the husles related to KRA for you. The deadline is around the corner avoid penalties</p>
              </div>

              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">Corporation Tax</h1>
                <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="200">The rate of Corporation Tax is 30% of taxable income with effect from 1st January, 2021.</p>
              </div>

              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">Value Added Tax</h1>
                <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="200">The rate of Value Added Tax is 16% with effect from 1st January, 2021. The first return under the new rate is due by
                20th February, 2021.</p>
              </div>

              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">Individual Income Tax Rates</h1>
                <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="200">The following tax rates shall apply to individual income with effect from 1st January, 2021. The first monthly PAYE
                return under the new rate shall be due by 9th February, 2021.</p>
                <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="200">Individual Income Tax Bands and applicable rates
                <br />Tax Band Rate of Tax
                On the First KShs 24,000 per month or KShs 288,000 per annum 10%<br />
                On the next KShs 8,333 per month or KShs 100,000 per annum 25%<br />
                On all income amounts in excess of KShs 32,333 per month or KShs 388,000 per annum 30%</p>
                <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="200">The applicable monthly personal relief is KShs 2,400 per month or KShs 28,800 annually.</p>
              </div>

              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">Pension Tax Bands</h1>
                <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="200">Pension Bands Annual Tax Rates
                <br />Any amount in excess of tax free amounts:
                On first KShs 400,000 10%<br />
                On next KShs 400,000 15%<br />
                On next KShs 400,000 20%<br />
                On next KShs 400,000 25%<br />
                On any amount in excess of KShs 1,600,000 30%<br />
                
                For pension income withdrawn before expiry of 15 years of pensionable service, the new individual tax bands and rates
                are applicable on any amount withdrawn in excess of tax-free amount.</p>
              </div>

              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">Minimum Tax</h1>
                <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="200">The rate of Minimum Tax is 1% of the gross turnover effective 1st January, 2021. The tax shall be payable by the 20th
                day of the 4th, 6th, 9th and 12th month of the accounting period. However, the Tax Laws (Amendment) No.2 Act, 2020,
                introduced the following additional exemptions from Minimum Tax:
                <br />
                Persons engaged in business whose retail price is controlled by government<br />
                Persons engaged in insurance business<br />
                
                Detailed guidelines on implementation of Minimum Tax are available on the KRA website: www.kra.go.ke</p>
              </div>

            </div>
          </div>
            
        </div>
      </div>

      <a href="#next" class="mouse smoothscroll">
        <span class="mouse-icon">
          <span class="mouse-wheel"></span>
        </span>
      </a>
    </div>  
    
    <section class="site-section border-bottom bg-light" id="services-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title mb-3">Our Services</h2>
          </div>
        </div>
        <div class="row align-items-stretch">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            <div class="unit-4">
              <!-- <div class="unit-4-icon">
                <img src="{% static 'images/flaticon-svg/svg/001-wallet.svg' %}"
                  alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
              </div> -->
              <div>
                <h3>BOOK-KEEPING SERVICES</h3>
                <p>1. Monthly Bookkeeping / Primary books of accounts preparation (General ledger)</p>
                <p>2. Monthly Bank account’s reconciliation</p>
                <p>3. Management Accounts Preparation</p>
                <p>4. Payroll management including PAYE, NSSF,NHIF & HELB deductions processing and remittance</p>
                <p>5. Computerised Accounting Training</p>
                <p>6. Monthly Debtors & Creditors Accounts maintenance</p>
                <p>7. Monthly cash account reconciliation</p>
                <p>7. Monthly inventory management</p>
                <p>8. Monthly VAT verification and return filing</p>
                <p>9. Work with your external auditor to coordinate annual statutory audit.</p>
                <p><a href="#contact-section">Request service</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="unit-4">
              <!-- <div class="unit-4-icon">
                <img src="{% static 'images/flaticon-svg/svg/002-rich.svg' %}"
                  alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
              </div> -->
              <div>
                <h3>TAXATION SERVICES</h3>
                <p>1. Pin Registration; Individual Pin, Company Pin & Foreign Pin</p>
                <p>2. Domestiv Tax Returns Filling; Individual & Company Annual Income Tax, PAYE, VAT, Residential Rental Income Tax, Turnover</p>
                <p>3. Tax Withholding, Tax Processing</p>
                <p>4. Withholding VAT Processing</p>
                <p>5. Tax Compliance Certificate Application</p>
                <p>6. Installment Tax Payment Processing</p>
                <p>7. Advanced Tax Payment Processing</p>
                <p>8. Capital Gains Tax Payment Processing</p>
                <p>9. Client Tax Advisory Services</p>
                <p>10. Statutory Deduction Processing NHIF, NSSF/p>
                <p><a href="#contact-section">Request service</a></p>
              </div>
            </div>
          </div>
    
    
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
            <div class="unit-4">
              <!-- <div class="unit-4-icon">
                <img src="{% static 'images/flaticon-svg/svg/003-notes.svg' %}"
                  alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
              </div> -->
              <div>
                <h3>KRA FILE RETURNS</h3>
                <p>1. KRA waiver application (penalties)</p>
                <p>2. New KRA Pin Registration</p>
                <p>3. KRA Nil Returns</p>
                <p>4. KRA File Returns (employed; p9)</p>
                <p>5. Retrieving Your KRA Certificate/Pin</p>
                <p>6. Changing KRA Email</p>
                <p>7. Password Recovery</p>
                <p><a href="#contact-section">Request service</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
            <!-- <div class="unit-4">
                  <div class="unit-4-icon">
                    <img src="{% static 'images/flaticon-svg/svg/004-cart.svg' %}" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
                  </div>
                  <div>
                    <h3>Financial Investment</h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    <p><a href="#">Learn More</a></p>
                  </div>
                </div> -->
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
            <!-- <div class="unit-4">
                  <div class="unit-4-icon">
                    <img src="{% static 'images/flaticon-svg/svg/005-megaphone.svg' %}" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
                  </div>
                  <div>
                    <h3>Financial Management</h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    <p><a href="#">Learn More</a></p>
                  </div>
                </div> -->
          </div>
    
        </div>
      </div>
    </section>

    <section class="site-section">
      <div class="container">
    
        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">How It Works</h2>
          </div>
        </div>
    
        <div class="row align-items-lg-center">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
    
            <div class="owl-carousel slide-one-item-alt">
              <img src="{% static 'images/tax4.jpg' %}" alt="Image" class="img-fluid">
              <img src="{% static 'images/tax3.jpg' %}" alt="Image" class="img-fluid">
              <img src="{% static 'images/tax5.jpg' %}" alt="Image" class="img-fluid">
            </div>
            <div class="custom-direction">
              <a href="#" class="custom-prev"><span><span class="icon-keyboard_backspace"></span></span></a><a href="#"
                class="custom-next"><span><span class="icon-keyboard_backspace"></span></span></a>
            </div>
    
          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
    
            <div class="owl-carousel slide-one-item-alt-text">
              <div>
                <h2 class="section-title mb-3">01. You contact us</h2>
                <p>Send us an email or a phone call. Our contact details are listed below so you dont have to look further</p>
    
                <p><a href="#contact-section" class="btn btn-primary mr-2 mb-2">Contact us</a></p>
              </div>
              <div>
                <h2 class="section-title mb-3">02. We provide you the service</h2>
                <p>We focus on the services you want us to provide you with accurately</p>
                <p><a href="#services-section" class="btn btn-primary mr-2 mb-2">Our services</a></p>
              </div>
              <div>
                <h2 class="section-title mb-3">03. Happy client</h2>
                <p>All our online professional Accounting, Taxation and Audit Services we offer is done at the comfort of our clients</p>
    
                <p><a href="#" class="btn btn-primary mr-2 mb-2">Refer us</a></p>
              </div>
    
            </div>
    
          </div>
        </div>
      </div>
    </section>

    <div class="site-section cta-big-image" id="about-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-8 text-center">
            <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">About Us</h2>
            <p class="lead" data-aos="fade-up" data-aos-delay="100">You earned it, we will help you to keep it</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
            <img src="{% static 'images/tax1.jpg' %}" alt="Free Website Template by Free-Template.co" class="img-fluid">
            </figure>
          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            
            <h3 class="text-black mb-4">We Solve Your Tax Problem</h3>

            <p>1. Accurate Tax computation</p>
            <p>2. Accurate Tax Filling</p>
            <p>3. Client Advisory on New Tax Issues</p>
            <p>4. Maintaining Upto Date Client Tax Accounts</p>
            <p>5. Assisting Our Clients in Solving Complex Tax Issues with KRA</p>

          </div>
        </div>    
        
      </div>  
    </div>


    <section class="site-section bg-light" id="contact-section" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Contact Us</h2>
          </div>
        </div>
        <div class="row mb-5">

          <div class="col-md-4 text-center">
            <p class="mb-4">
              <span class="d-block h2 text-primary"><i class="fa fa-whatsapp" aria-hidden="true"></i></span>
              <a href="https://wa.me/+254723514049/?text=I%20am%20interested%20in%20your%20services">Send WhatsApp Message</a>
            </p>
          </div>
          <div class="col-md-4 text-center">
            <p class="mb-4">
              <span class="icon-phone d-block h2 text-primary"></span>
              <a href="tel:0723514049">0723514049</a>
            </p>
          </div>
          <div class="col-md-4 text-center">
            <p class="mb-0">
              <span class="icon-mail_outline d-block h2 text-primary"></span>
              <a href="mailto: gibsoncheruiyot77@gmail.com">gibsoncheruiyot77@gmail.com</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-5">

            

            <form action="" class="p-5 bg-white" method="POST">
              {% csrf_token %}
              <h2 class="h4 text-black mb-5">Contact Form</h2> 

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="name">Name</label>
                  <input type="text" required id="id_name" name="name" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="email">Email</label>
                  <input type="email" required id="id_email" name="email" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="message">Message</label> 
                  <textarea name="message" required id="id_message" name="message" cols="30" rows="7" class="form-control" placeholder="Write your notes or questions here..."></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Send Message" class="btn btn-primary btn-md text-white">
                </div>
              </div>

  
            </form>
          </div>
          
        </div>
      </div>
    </section>

    
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-5">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p>We are here to help you with any of tax, accounting, auditing or KRA issues</p>
              </div>
              <div class="col-md-3 ml-auto">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><a href="#about-section" class="smoothscroll">Terms</a></li>
                  <li><a href="#about-section" class="smoothscroll">Policy</a></li>
                  <li><a href="#about-section" class="smoothscroll">About Us</a></li>
                  <li><a href="#services-section" class="smoothscroll">Services</a></li>
                  <li><a href="#contact-section" class="smoothscroll">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-3 footer-social">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
            <form action="#" method="post" class="footer-subscribe">
              <div class="input-group mb-3">
                <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary text-black" type="button" id="button-addon2">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p class="copyright"><small>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></small></p>
        
            </div>
          </div>
          
        </div>
      </div>
    </footer>

  </div> <!-- .site-wrap -->

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'js/jquery.sticky.js' %}"></script>
  <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>

  
  <script src="{% static 'js/main.js' %}"></script>
  <script>
     $(document).ready(function () {
        $('.toast').toast('show');
      });
  </script>

  
  </body>
</html>